* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Young Serif", serif;
}

.container {
    padding: 50px;
}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__name {
    font-size: 50px;
}

.section-one__role {
    margin-top: 10px;
    font-size: 30px;
}

.section-one__contact {
    color: white;
    background-color: orangered;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;

}

.section-two__about {
    margin-top: 20px;
    font-size: 25px;

}

.section-two__desc {
    margin-top: 10px;
}

.section-three {
    background-color: #6462FD;
    margin-top: 20px;
    height: 200px;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.section-three__interests {
    font-size: 25px;

}

.section-three__hobbies {
    margin-top: 10px;
    list-style: none;

}

.section-four {
    background-color: #FE7517;
    padding: 30px;
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
    vertical-align: top;
    display: inline-block;
}

.section-four__amazon {
    list-style: none;
    margin-top: 10px;
    font-size: 15px;
}

.section-four__project {
    font-size: 25px;
}

.section-five {
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 20px;
}

.section-five__socialmedia a {
    color: skyblue;
}

.section-five__copy {
    margin-top: 10px;
}

.contact-form {
    margin-top: 20px;
}

.contact-form__input,
.contact-form__textarea,
.contact-form__submit {
    margin-top: 10px;
}

.contact-form__input {
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}

.contact-form__textarea {
    padding: 10px;
    border: none;
    border: solid black 1px;
}

.contact-form__submit {
    background-color: orange;
    border: none;
    padding: 10px;
    border-radius: 5px;
}